ServiceTestClient/Service References/SessionServiceReference/SessionService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:55152/SessionService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EndToEnd.DataLayer.Models" />
  <xs:import schemaLocation="http://localhost:55152/SessionService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/BusinessLayer.Models" />
  <xs:import schemaLocation="http://localhost:55152/SessionService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetSpeakerList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSpeakerListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/EndToEnd.DataLayer.Models" minOccurs="0" name="GetSpeakerListResult" nillable="true" type="q1:ArrayOfSpeaker" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSpeakerById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSpeakerByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/EndToEnd.DataLayer.Models" minOccurs="0" name="GetSpeakerByIdResult" nillable="true" type="q2:Speaker" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchSpeakerByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchSpeakerByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/EndToEnd.DataLayer.Models" minOccurs="0" name="SearchSpeakerByNameResult" nillable="true" type="q3:Speaker" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSpeaker">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/EndToEnd.DataLayer.Models" minOccurs="0" name="speaker" nillable="true" type="q4:Speaker" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSpeakerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/EndToEnd.DataLayer.Models" minOccurs="0" name="AddSpeakerResult" nillable="true" type="q5:Speaker" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSpeaker">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/EndToEnd.DataLayer.Models" minOccurs="0" name="speaker" nillable="true" type="q6:Speaker" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSpeakerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSpeaker">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSpeakerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSessionList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSessionListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/BusinessLayer.Models" minOccurs="0" name="GetSessionListResult" nillable="true" type="q7:ArrayOfSessionDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSessionById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSessionByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/BusinessLayer.Models" minOccurs="0" name="GetSessionByIdResult" nillable="true" type="q8:SessionDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchSessionByTitle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchSessionByTitleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/BusinessLayer.Models" minOccurs="0" name="SearchSessionByTitleResult" nillable="true" type="q9:SessionDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSession">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/BusinessLayer.Models" minOccurs="0" name="session" nillable="true" type="q10:SessionDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSessionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/BusinessLayer.Models" minOccurs="0" name="AddSessionResult" nillable="true" type="q11:SessionDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSession">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/BusinessLayer.Models" minOccurs="0" name="session" nillable="true" type="q12:SessionDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSessionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSession">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSessionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSessionTypes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSessionTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetSessionTypesResult" nillable="true" type="q13:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTrackList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTrackListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/EndToEnd.DataLayer.Models" minOccurs="0" name="GetTrackListResult" nillable="true" type="q14:ArrayOfTrack" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTrackById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTrackByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/EndToEnd.DataLayer.Models" minOccurs="0" name="GetTrackByIdResult" nillable="true" type="q15:Track" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchTrackByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="track" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchTrackByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/EndToEnd.DataLayer.Models" minOccurs="0" name="SearchTrackByNameResult" nillable="true" type="q16:Track" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTrack">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/EndToEnd.DataLayer.Models" minOccurs="0" name="track" nillable="true" type="q17:Track" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTrackResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/EndToEnd.DataLayer.Models" minOccurs="0" name="AddTrackResult" nillable="true" type="q18:Track" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTrack">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/EndToEnd.DataLayer.Models" minOccurs="0" name="track" nillable="true" type="q19:Track" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTrackResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTrack">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTrackResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchTrackTypeByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="track" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchTrackTypeByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/EndToEnd.DataLayer.Models" minOccurs="0" name="SearchTrackTypeByNameResult" nillable="true" type="q20:Track" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRatingList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRatingListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/EndToEnd.DataLayer.Models" minOccurs="0" name="GetRatingListResult" nillable="true" type="q21:ArrayOfRating" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRatingById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRatingByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/EndToEnd.DataLayer.Models" minOccurs="0" name="GetRatingByIdResult" nillable="true" type="q22:Rating" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRating">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/EndToEnd.DataLayer.Models" minOccurs="0" name="rating" nillable="true" type="q23:Rating" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRatingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/EndToEnd.DataLayer.Models" minOccurs="0" name="AddRatingResult" nillable="true" type="q24:Rating" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRating">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/EndToEnd.DataLayer.Models" minOccurs="0" name="rating" nillable="true" type="q25:Rating" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRatingResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRating">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRatingResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetScheduleList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetScheduleListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/EndToEnd.DataLayer.Models" minOccurs="0" name="GetScheduleListResult" nillable="true" type="q26:ArrayOfSchedule" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetScheduleById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetScheduleByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/EndToEnd.DataLayer.Models" minOccurs="0" name="GetScheduleByIdResult" nillable="true" type="q27:Schedule" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSchedule">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/EndToEnd.DataLayer.Models" minOccurs="0" name="schedule" nillable="true" type="q28:Schedule" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddScheduleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/EndToEnd.DataLayer.Models" minOccurs="0" name="AddScheduleResult" nillable="true" type="q29:Schedule" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSchedule">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteScheduleResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AllSlots">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AllSlotsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/EndToEnd.DataLayer.Models" minOccurs="0" name="AllSlotsResult" nillable="true" type="q30:ArrayOfSlot" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AllBreaks">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AllBreaksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/EndToEnd.DataLayer.Models" minOccurs="0" name="AllBreaksResult" nillable="true" type="q31:ArrayOfSlot" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AllAssignableSlots">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AllAssignableSlotsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/EndToEnd.DataLayer.Models" minOccurs="0" name="AllAssignableSlotsResult" nillable="true" type="q32:ArrayOfSlot" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNotAssignedSlots">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNotAssignedSlotsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/EndToEnd.DataLayer.Models" minOccurs="0" name="GetNotAssignedSlotsResult" nillable="true" type="q33:ArrayOfSlot" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>