Client/Services/SessionService/Service References/SessionServiceReference/SessionService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SessionService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:55152/SessionService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:55152/SessionService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:55152/SessionService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EndToEnd.DataLayer.Models" />
      <xsd:import schemaLocation="http://localhost:55152/SessionService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/BusinessLayer.Models" />
      <xsd:import schemaLocation="http://localhost:55152/SessionService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:55152/SessionService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/ServiceLayer" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISessionService_GetSpeakerList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSpeakerList" />
  </wsdl:message>
  <wsdl:message name="ISessionService_GetSpeakerList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSpeakerListResponse" />
  </wsdl:message>
  <wsdl:message name="ISessionService_GetSpeakerById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSpeakerById" />
  </wsdl:message>
  <wsdl:message name="ISessionService_GetSpeakerById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSpeakerByIdResponse" />
  </wsdl:message>
  <wsdl:message name="ISessionService_SearchSpeakerByName_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchSpeakerByName" />
  </wsdl:message>
  <wsdl:message name="ISessionService_SearchSpeakerByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchSpeakerByNameResponse" />
  </wsdl:message>
  <wsdl:message name="ISessionService_AddSpeaker_InputMessage">
    <wsdl:part name="parameters" element="tns:AddSpeaker" />
  </wsdl:message>
  <wsdl:message name="ISessionService_AddSpeaker_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddSpeakerResponse" />
  </wsdl:message>
  <wsdl:message name="ISessionService_UpdateSpeaker_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateSpeaker" />
  </wsdl:message>
  <wsdl:message name="ISessionService_UpdateSpeaker_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateSpeakerResponse" />
  </wsdl:message>
  <wsdl:message name="ISessionService_DeleteSpeaker_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteSpeaker" />
  </wsdl:message>
  <wsdl:message name="ISessionService_DeleteSpeaker_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteSpeakerResponse" />
  </wsdl:message>
  <wsdl:message name="ISessionService_GetSessionList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSessionList" />
  </wsdl:message>
  <wsdl:message name="ISessionService_GetSessionList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSessionListResponse" />
  </wsdl:message>
  <wsdl:message name="ISessionService_GetSessionById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSessionById" />
  </wsdl:message>
  <wsdl:message name="ISessionService_GetSessionById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSessionByIdResponse" />
  </wsdl:message>
  <wsdl:message name="ISessionService_SearchSessionByTitle_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchSessionByTitle" />
  </wsdl:message>
  <wsdl:message name="ISessionService_SearchSessionByTitle_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchSessionByTitleResponse" />
  </wsdl:message>
  <wsdl:message name="ISessionService_AddSession_InputMessage">
    <wsdl:part name="parameters" element="tns:AddSession" />
  </wsdl:message>
  <wsdl:message name="ISessionService_AddSession_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddSessionResponse" />
  </wsdl:message>
  <wsdl:message name="ISessionService_UpdateSession_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateSession" />
  </wsdl:message>
  <wsdl:message name="ISessionService_UpdateSession_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateSessionResponse" />
  </wsdl:message>
  <wsdl:message name="ISessionService_DeleteSession_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteSession" />
  </wsdl:message>
  <wsdl:message name="ISessionService_DeleteSession_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteSessionResponse" />
  </wsdl:message>
  <wsdl:message name="ISessionService_GetSessionTypes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSessionTypes" />
  </wsdl:message>
  <wsdl:message name="ISessionService_GetSessionTypes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSessionTypesResponse" />
  </wsdl:message>
  <wsdl:message name="ISessionService_GetTrackList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTrackList" />
  </wsdl:message>
  <wsdl:message name="ISessionService_GetTrackList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTrackListResponse" />
  </wsdl:message>
  <wsdl:message name="ISessionService_GetTrackById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTrackById" />
  </wsdl:message>
  <wsdl:message name="ISessionService_GetTrackById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTrackByIdResponse" />
  </wsdl:message>
  <wsdl:message name="ISessionService_SearchTrackByName_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchTrackByName" />
  </wsdl:message>
  <wsdl:message name="ISessionService_SearchTrackByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchTrackByNameResponse" />
  </wsdl:message>
  <wsdl:message name="ISessionService_AddTrack_InputMessage">
    <wsdl:part name="parameters" element="tns:AddTrack" />
  </wsdl:message>
  <wsdl:message name="ISessionService_AddTrack_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddTrackResponse" />
  </wsdl:message>
  <wsdl:message name="ISessionService_UpdateTrack_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTrack" />
  </wsdl:message>
  <wsdl:message name="ISessionService_UpdateTrack_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTrackResponse" />
  </wsdl:message>
  <wsdl:message name="ISessionService_DeleteTrack_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTrack" />
  </wsdl:message>
  <wsdl:message name="ISessionService_DeleteTrack_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTrackResponse" />
  </wsdl:message>
  <wsdl:message name="ISessionService_SearchTrackTypeByName_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchTrackTypeByName" />
  </wsdl:message>
  <wsdl:message name="ISessionService_SearchTrackTypeByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchTrackTypeByNameResponse" />
  </wsdl:message>
  <wsdl:message name="ISessionService_GetRatingList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRatingList" />
  </wsdl:message>
  <wsdl:message name="ISessionService_GetRatingList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRatingListResponse" />
  </wsdl:message>
  <wsdl:message name="ISessionService_GetRatingById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRatingById" />
  </wsdl:message>
  <wsdl:message name="ISessionService_GetRatingById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRatingByIdResponse" />
  </wsdl:message>
  <wsdl:message name="ISessionService_AddRating_InputMessage">
    <wsdl:part name="parameters" element="tns:AddRating" />
  </wsdl:message>
  <wsdl:message name="ISessionService_AddRating_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddRatingResponse" />
  </wsdl:message>
  <wsdl:message name="ISessionService_AddRating_FaultMessageFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/ServiceLayer" name="detail" element="q1:FaultMessage" />
  </wsdl:message>
  <wsdl:message name="ISessionService_UpdateRating_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateRating" />
  </wsdl:message>
  <wsdl:message name="ISessionService_UpdateRating_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateRatingResponse" />
  </wsdl:message>
  <wsdl:message name="ISessionService_DeleteRating_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteRating" />
  </wsdl:message>
  <wsdl:message name="ISessionService_DeleteRating_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteRatingResponse" />
  </wsdl:message>
  <wsdl:message name="ISessionService_GetScheduleList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetScheduleList" />
  </wsdl:message>
  <wsdl:message name="ISessionService_GetScheduleList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetScheduleListResponse" />
  </wsdl:message>
  <wsdl:message name="ISessionService_GetScheduleById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetScheduleById" />
  </wsdl:message>
  <wsdl:message name="ISessionService_GetScheduleById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetScheduleByIdResponse" />
  </wsdl:message>
  <wsdl:message name="ISessionService_AddSchedule_InputMessage">
    <wsdl:part name="parameters" element="tns:AddSchedule" />
  </wsdl:message>
  <wsdl:message name="ISessionService_AddSchedule_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddScheduleResponse" />
  </wsdl:message>
  <wsdl:message name="ISessionService_DeleteSchedule_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteSchedule" />
  </wsdl:message>
  <wsdl:message name="ISessionService_DeleteSchedule_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteScheduleResponse" />
  </wsdl:message>
  <wsdl:message name="ISessionService_AllSlots_InputMessage">
    <wsdl:part name="parameters" element="tns:AllSlots" />
  </wsdl:message>
  <wsdl:message name="ISessionService_AllSlots_OutputMessage">
    <wsdl:part name="parameters" element="tns:AllSlotsResponse" />
  </wsdl:message>
  <wsdl:message name="ISessionService_AllBreaks_InputMessage">
    <wsdl:part name="parameters" element="tns:AllBreaks" />
  </wsdl:message>
  <wsdl:message name="ISessionService_AllBreaks_OutputMessage">
    <wsdl:part name="parameters" element="tns:AllBreaksResponse" />
  </wsdl:message>
  <wsdl:message name="ISessionService_AllAssignableSlots_InputMessage">
    <wsdl:part name="parameters" element="tns:AllAssignableSlots" />
  </wsdl:message>
  <wsdl:message name="ISessionService_AllAssignableSlots_OutputMessage">
    <wsdl:part name="parameters" element="tns:AllAssignableSlotsResponse" />
  </wsdl:message>
  <wsdl:message name="ISessionService_GetNotAssignedSlots_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNotAssignedSlots" />
  </wsdl:message>
  <wsdl:message name="ISessionService_GetNotAssignedSlots_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNotAssignedSlotsResponse" />
  </wsdl:message>
  <wsdl:message name="ISessionService_UpdateSlot_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateSlot" />
  </wsdl:message>
  <wsdl:portType name="ISessionService">
    <wsdl:operation name="GetSpeakerList">
      <wsdl:input wsaw:Action="http://tempuri.org/ISessionService/GetSpeakerList" message="tns:ISessionService_GetSpeakerList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISessionService/GetSpeakerListResponse" message="tns:ISessionService_GetSpeakerList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSpeakerById">
      <wsdl:input wsaw:Action="http://tempuri.org/ISessionService/GetSpeakerById" message="tns:ISessionService_GetSpeakerById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISessionService/GetSpeakerByIdResponse" message="tns:ISessionService_GetSpeakerById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchSpeakerByName">
      <wsdl:input wsaw:Action="http://tempuri.org/ISessionService/SearchSpeakerByName" message="tns:ISessionService_SearchSpeakerByName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISessionService/SearchSpeakerByNameResponse" message="tns:ISessionService_SearchSpeakerByName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddSpeaker">
      <wsdl:input wsaw:Action="http://tempuri.org/ISessionService/AddSpeaker" message="tns:ISessionService_AddSpeaker_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISessionService/AddSpeakerResponse" message="tns:ISessionService_AddSpeaker_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateSpeaker">
      <wsdl:input wsaw:Action="http://tempuri.org/ISessionService/UpdateSpeaker" message="tns:ISessionService_UpdateSpeaker_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISessionService/UpdateSpeakerResponse" message="tns:ISessionService_UpdateSpeaker_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteSpeaker">
      <wsdl:input wsaw:Action="http://tempuri.org/ISessionService/DeleteSpeaker" message="tns:ISessionService_DeleteSpeaker_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISessionService/DeleteSpeakerResponse" message="tns:ISessionService_DeleteSpeaker_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSessionList">
      <wsdl:input wsaw:Action="http://tempuri.org/ISessionService/GetSessionList" message="tns:ISessionService_GetSessionList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISessionService/GetSessionListResponse" message="tns:ISessionService_GetSessionList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSessionById">
      <wsdl:input wsaw:Action="http://tempuri.org/ISessionService/GetSessionById" message="tns:ISessionService_GetSessionById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISessionService/GetSessionByIdResponse" message="tns:ISessionService_GetSessionById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchSessionByTitle">
      <wsdl:input wsaw:Action="http://tempuri.org/ISessionService/SearchSessionByTitle" message="tns:ISessionService_SearchSessionByTitle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISessionService/SearchSessionByTitleResponse" message="tns:ISessionService_SearchSessionByTitle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddSession">
      <wsdl:input wsaw:Action="http://tempuri.org/ISessionService/AddSession" message="tns:ISessionService_AddSession_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISessionService/AddSessionResponse" message="tns:ISessionService_AddSession_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateSession">
      <wsdl:input wsaw:Action="http://tempuri.org/ISessionService/UpdateSession" message="tns:ISessionService_UpdateSession_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISessionService/UpdateSessionResponse" message="tns:ISessionService_UpdateSession_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteSession">
      <wsdl:input wsaw:Action="http://tempuri.org/ISessionService/DeleteSession" message="tns:ISessionService_DeleteSession_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISessionService/DeleteSessionResponse" message="tns:ISessionService_DeleteSession_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSessionTypes">
      <wsdl:input wsaw:Action="http://tempuri.org/ISessionService/GetSessionTypes" message="tns:ISessionService_GetSessionTypes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISessionService/GetSessionTypesResponse" message="tns:ISessionService_GetSessionTypes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTrackList">
      <wsdl:input wsaw:Action="http://tempuri.org/ISessionService/GetTrackList" message="tns:ISessionService_GetTrackList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISessionService/GetTrackListResponse" message="tns:ISessionService_GetTrackList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTrackById">
      <wsdl:input wsaw:Action="http://tempuri.org/ISessionService/GetTrackById" message="tns:ISessionService_GetTrackById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISessionService/GetTrackByIdResponse" message="tns:ISessionService_GetTrackById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchTrackByName">
      <wsdl:input wsaw:Action="http://tempuri.org/ISessionService/SearchTrackByName" message="tns:ISessionService_SearchTrackByName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISessionService/SearchTrackByNameResponse" message="tns:ISessionService_SearchTrackByName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddTrack">
      <wsdl:input wsaw:Action="http://tempuri.org/ISessionService/AddTrack" message="tns:ISessionService_AddTrack_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISessionService/AddTrackResponse" message="tns:ISessionService_AddTrack_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateTrack">
      <wsdl:input wsaw:Action="http://tempuri.org/ISessionService/UpdateTrack" message="tns:ISessionService_UpdateTrack_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISessionService/UpdateTrackResponse" message="tns:ISessionService_UpdateTrack_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteTrack">
      <wsdl:input wsaw:Action="http://tempuri.org/ISessionService/DeleteTrack" message="tns:ISessionService_DeleteTrack_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISessionService/DeleteTrackResponse" message="tns:ISessionService_DeleteTrack_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchTrackTypeByName">
      <wsdl:input wsaw:Action="http://tempuri.org/ISessionService/SearchTrackTypeByName" message="tns:ISessionService_SearchTrackTypeByName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISessionService/SearchTrackTypeByNameResponse" message="tns:ISessionService_SearchTrackTypeByName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRatingList">
      <wsdl:input wsaw:Action="http://tempuri.org/ISessionService/GetRatingList" message="tns:ISessionService_GetRatingList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISessionService/GetRatingListResponse" message="tns:ISessionService_GetRatingList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRatingById">
      <wsdl:input wsaw:Action="http://tempuri.org/ISessionService/GetRatingById" message="tns:ISessionService_GetRatingById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISessionService/GetRatingByIdResponse" message="tns:ISessionService_GetRatingById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddRating">
      <wsdl:input wsaw:Action="http://tempuri.org/ISessionService/AddRating" message="tns:ISessionService_AddRating_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISessionService/AddRatingResponse" message="tns:ISessionService_AddRating_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ISessionService/AddRatingFaultMessageFault" name="FaultMessageFault" message="tns:ISessionService_AddRating_FaultMessageFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateRating">
      <wsdl:input wsaw:Action="http://tempuri.org/ISessionService/UpdateRating" message="tns:ISessionService_UpdateRating_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISessionService/UpdateRatingResponse" message="tns:ISessionService_UpdateRating_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteRating">
      <wsdl:input wsaw:Action="http://tempuri.org/ISessionService/DeleteRating" message="tns:ISessionService_DeleteRating_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISessionService/DeleteRatingResponse" message="tns:ISessionService_DeleteRating_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetScheduleList">
      <wsdl:input wsaw:Action="http://tempuri.org/ISessionService/GetScheduleList" message="tns:ISessionService_GetScheduleList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISessionService/GetScheduleListResponse" message="tns:ISessionService_GetScheduleList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetScheduleById">
      <wsdl:input wsaw:Action="http://tempuri.org/ISessionService/GetScheduleById" message="tns:ISessionService_GetScheduleById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISessionService/GetScheduleByIdResponse" message="tns:ISessionService_GetScheduleById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddSchedule">
      <wsdl:input wsaw:Action="http://tempuri.org/ISessionService/AddSchedule" message="tns:ISessionService_AddSchedule_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISessionService/AddScheduleResponse" message="tns:ISessionService_AddSchedule_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteSchedule">
      <wsdl:input wsaw:Action="http://tempuri.org/ISessionService/DeleteSchedule" message="tns:ISessionService_DeleteSchedule_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISessionService/DeleteScheduleResponse" message="tns:ISessionService_DeleteSchedule_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AllSlots">
      <wsdl:input wsaw:Action="http://tempuri.org/ISessionService/AllSlots" message="tns:ISessionService_AllSlots_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISessionService/AllSlotsResponse" message="tns:ISessionService_AllSlots_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AllBreaks">
      <wsdl:input wsaw:Action="http://tempuri.org/ISessionService/AllBreaks" message="tns:ISessionService_AllBreaks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISessionService/AllBreaksResponse" message="tns:ISessionService_AllBreaks_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AllAssignableSlots">
      <wsdl:input wsaw:Action="http://tempuri.org/ISessionService/AllAssignableSlots" message="tns:ISessionService_AllAssignableSlots_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISessionService/AllAssignableSlotsResponse" message="tns:ISessionService_AllAssignableSlots_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNotAssignedSlots">
      <wsdl:input wsaw:Action="http://tempuri.org/ISessionService/GetNotAssignedSlots" message="tns:ISessionService_GetNotAssignedSlots_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISessionService/GetNotAssignedSlotsResponse" message="tns:ISessionService_GetNotAssignedSlots_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateSlot">
      <wsdl:input wsaw:Action="http://tempuri.org/ISessionService/UpdateSlot" message="tns:ISessionService_UpdateSlot_InputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISessionService" type="tns:ISessionService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetSpeakerList">
      <soap:operation soapAction="http://tempuri.org/ISessionService/GetSpeakerList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSpeakerById">
      <soap:operation soapAction="http://tempuri.org/ISessionService/GetSpeakerById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchSpeakerByName">
      <soap:operation soapAction="http://tempuri.org/ISessionService/SearchSpeakerByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddSpeaker">
      <soap:operation soapAction="http://tempuri.org/ISessionService/AddSpeaker" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSpeaker">
      <soap:operation soapAction="http://tempuri.org/ISessionService/UpdateSpeaker" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteSpeaker">
      <soap:operation soapAction="http://tempuri.org/ISessionService/DeleteSpeaker" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSessionList">
      <soap:operation soapAction="http://tempuri.org/ISessionService/GetSessionList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSessionById">
      <soap:operation soapAction="http://tempuri.org/ISessionService/GetSessionById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchSessionByTitle">
      <soap:operation soapAction="http://tempuri.org/ISessionService/SearchSessionByTitle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddSession">
      <soap:operation soapAction="http://tempuri.org/ISessionService/AddSession" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSession">
      <soap:operation soapAction="http://tempuri.org/ISessionService/UpdateSession" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteSession">
      <soap:operation soapAction="http://tempuri.org/ISessionService/DeleteSession" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSessionTypes">
      <soap:operation soapAction="http://tempuri.org/ISessionService/GetSessionTypes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTrackList">
      <soap:operation soapAction="http://tempuri.org/ISessionService/GetTrackList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTrackById">
      <soap:operation soapAction="http://tempuri.org/ISessionService/GetTrackById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchTrackByName">
      <soap:operation soapAction="http://tempuri.org/ISessionService/SearchTrackByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddTrack">
      <soap:operation soapAction="http://tempuri.org/ISessionService/AddTrack" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTrack">
      <soap:operation soapAction="http://tempuri.org/ISessionService/UpdateTrack" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTrack">
      <soap:operation soapAction="http://tempuri.org/ISessionService/DeleteTrack" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchTrackTypeByName">
      <soap:operation soapAction="http://tempuri.org/ISessionService/SearchTrackTypeByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRatingList">
      <soap:operation soapAction="http://tempuri.org/ISessionService/GetRatingList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRatingById">
      <soap:operation soapAction="http://tempuri.org/ISessionService/GetRatingById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddRating">
      <soap:operation soapAction="http://tempuri.org/ISessionService/AddRating" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultMessageFault">
        <soap:fault use="literal" name="FaultMessageFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateRating">
      <soap:operation soapAction="http://tempuri.org/ISessionService/UpdateRating" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteRating">
      <soap:operation soapAction="http://tempuri.org/ISessionService/DeleteRating" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetScheduleList">
      <soap:operation soapAction="http://tempuri.org/ISessionService/GetScheduleList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetScheduleById">
      <soap:operation soapAction="http://tempuri.org/ISessionService/GetScheduleById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddSchedule">
      <soap:operation soapAction="http://tempuri.org/ISessionService/AddSchedule" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteSchedule">
      <soap:operation soapAction="http://tempuri.org/ISessionService/DeleteSchedule" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AllSlots">
      <soap:operation soapAction="http://tempuri.org/ISessionService/AllSlots" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AllBreaks">
      <soap:operation soapAction="http://tempuri.org/ISessionService/AllBreaks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AllAssignableSlots">
      <soap:operation soapAction="http://tempuri.org/ISessionService/AllAssignableSlots" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNotAssignedSlots">
      <soap:operation soapAction="http://tempuri.org/ISessionService/GetNotAssignedSlots" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSlot">
      <soap:operation soapAction="http://tempuri.org/ISessionService/UpdateSlot" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SessionService">
    <wsdl:port name="BasicHttpBinding_ISessionService" binding="tns:BasicHttpBinding_ISessionService">
      <soap:address location="http://localhost:55152/SessionService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>