Client/Services/SessionService/Service References/SessionServiceReference/SessionService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EndToEnd.DataLayer.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EndToEnd.DataLayer.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfSpeaker">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Speaker" nillable="true" type="tns:Speaker" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSpeaker" nillable="true" type="tns:ArrayOfSpeaker" />
  <xs:complexType name="Speaker">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Bio" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Company" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EMail" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Photo" nillable="true" type="xs:base64Binary" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Speaker" nillable="true" type="tns:Speaker" />
  <xs:complexType name="EntityBase">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EntityBase" nillable="true" type="tns:EntityBase" />
  <xs:complexType name="SessionBase">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Abstract" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Schedule" nillable="true" type="tns:Schedule" />
          <xs:element minOccurs="0" name="Speaker1" nillable="true" type="tns:Speaker" />
          <xs:element minOccurs="0" name="Speaker1Id" type="xs:int" />
          <xs:element minOccurs="0" name="Speaker2" nillable="true" type="tns:Speaker" />
          <xs:element minOccurs="0" name="Speaker2Id" type="xs:int" />
          <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Tracks" nillable="true" type="tns:ArrayOfTrack" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SessionBase" nillable="true" type="tns:SessionBase" />
  <xs:complexType name="Schedule">
    <xs:sequence>
      <xs:element minOccurs="0" name="Room" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SessionId" type="xs:int" />
      <xs:element minOccurs="0" name="StartTime" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Schedule" nillable="true" type="tns:Schedule" />
  <xs:complexType name="ArrayOfTrack">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Track" nillable="true" type="tns:Track" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTrack" nillable="true" type="tns:ArrayOfTrack" />
  <xs:complexType name="Track">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Track" nillable="true" type="tns:Track" />
  <xs:complexType name="Workshop">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:SessionBase">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Workshop" nillable="true" type="tns:Workshop" />
  <xs:complexType name="Session">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:SessionBase">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Session" nillable="true" type="tns:Session" />
  <xs:complexType name="KeyNote">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:SessionBase">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="KeyNote" nillable="true" type="tns:KeyNote" />
  <xs:complexType name="ArrayOfRating">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Rating" nillable="true" type="tns:Rating" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRating" nillable="true" type="tns:ArrayOfRating" />
  <xs:complexType name="Rating">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Comment" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Rate" type="xs:int" />
          <xs:element minOccurs="0" name="SessionId" type="xs:int" />
          <xs:element minOccurs="0" name="SpeakerId" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Rating" nillable="true" type="tns:Rating" />
  <xs:complexType name="ArrayOfSchedule">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Schedule" nillable="true" type="tns:Schedule" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSchedule" nillable="true" type="tns:ArrayOfSchedule" />
  <xs:complexType name="ArrayOfSlot">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Slot" nillable="true" type="tns:Slot" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSlot" nillable="true" type="tns:ArrayOfSlot" />
  <xs:complexType name="Slot">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="IsBreak" type="xs:boolean" />
          <xs:element minOccurs="0" name="SessionId" type="xs:int" />
          <xs:element minOccurs="0" name="Start" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Slot" nillable="true" type="tns:Slot" />
</xs:schema>